.App {
  text-align: center;
  padding-top: 80px;
  border-radius: 10px;
}

.task-name{
  color: white;
}

.save-task{ 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.todo-input {
  padding: 0.52rem;
  border-radius: 5px;
  
}
.todo-btn-save {
  /* padding: 0.45rem; */
  cursor: pointer;
  background-color: #22a1c4;
  border-radius: 5px;
  border: none;
}

.plus-icon {
  font-size: 2.4em; 
  vertical-align: middle; 
}

.fa-trash {
  margin-left: 0.75rem;
  color: rgb(219, 38, 38);
}

.todo-input::placeholder {
  color: #0707074d;
}

.todo-checkbox{
  cursor: pointer;
}

.edit-icon, 
.delete-icon {
  cursor: pointer;
}

.todo-icons{
  padding-right: 2%;
}

.todo-list {
  justify-content: space-between;
  background: #60697a;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.flex-container {
  background-color: #fff;
  width: 90%;  
  max-width: 700px; 
  padding: 1rem;
  border-radius: 8px;
  margin-top: 5%;
  margin-left: auto;  
  margin-right: auto; 
}